<div class="container-60">
    <div class="centered">
      <p class="title">Questionari</p>
      <div *ngIf="nSurveys == 0; else showList">
        <p>Non hai nessuna questionario!</p>
      </div>
      <ng-template #showList>
        <table class="regular-table">
          <thead>
            <tr>
              <th>Titolo</th>
              <th>Tipo</th>
              <th>Azioni</th>
            </tr>
          </thead>
          <ng-template ngFor let-survey [ngForOf]="surveys" let-i="index">
            <tbody>
              <tr>
                <td>{{ survey.title }}</td>
                <td>{{ survey.type }}</td>
                <td>
                  <mat-icon title="Modifica" (click)="openSurvey(survey.id)">edit</mat-icon>
                  <mat-icon title="Elimina" (click)="deleteSurvey(survey.id)">delete</mat-icon>
                  <mat-icon title="Grafici" (click)="openSurvey(survey.id,true)">bar_chart</mat-icon>
                </td>
              </tr>
            </tbody>
          </ng-template>
        </table>
      </ng-template>
      <button mat-raised-button color="accent" (click)="openSurvey()">Crea Questionario</button>
    </div>
  </div>