@import "../../app.component.scss";

.text{
    text-align: left;
    font-size: 16px;
}
code{
    white-space: pre-wrap !important;
}

.filename{
    color: #3b78e7;
    font-size: 12px;
}
h2{
    margin-bottom: 0px !important;
}

.mat-card{
    width: 100%;
}