<div class="container-60">
    <div class="centered">
        <mat-card>
            <mat-card-title>
                Guida all'installazione e all'uso
            </mat-card-title>
            <mat-card-content>
                <div class="text">
                    Questo servizio ti permette di avere un pop-up con questionari personalizzati (che puoi creare
                    nell'apposita sezione di FeedBeek) all'interno del tuo sito web! <br>
                    <h2>Se non usi un front-end framework (CDN):</h2>
                    Inserisci nel file html dove intendi mostrare il pop-up le seguenti righe di codice:
                    <span class="filename">example.html</span>
                    <div class="code-area">
                        <code class="language-markup">
                            {{"<"}}div id="feed-pop-up" class="feed-pop-up"{{"><"}}/div{{">"}}
                            {{"<"}}script src="https://feedbeek.b-cdn.net/feed-library.js" apiKey="944e2560-e228-11ea-8ba8-01368e2e1004" charset="utf-8"{{"><"}}/script{{"> \r"}}
                            {{"<"}}link rel="stylesheet" type="text/css" href="https://feedbeek.b-cdn.net/feed-style.css"{{">"}}
                        </code>
                    </div>
                    Ricorda di modificare l'attributo apiKey con il valore che trovi all'interno della tabella delle
                    applicazioni.
                    <h2>Se usi Angular</h2>
                    Dal terminale, all'interno del tuo progetto, esegui il comando
                    <div class="code-area">
                        <code>{{"npm install feed-beek"}}</code>
                    </div>
                    Inserisci il seguente tag html all'interno della pagina nella quale vorrai far apparire il pop-up <br>
                    <span class="filename">example.html</span>
                    <div class="code-area">
                        <code class="language-markup">
                            {{"<"}}div id="feed-pop-up" class="feed-pop-up"{{"><"}}/div{{">"}}
                        </code>
                    </div>
                    Sarà necessario inserire i riferimenti alla libreria nel file angular.json come mostrato sotto <br>
                    <span class="filename">angular.json</span>
                    <div class="code-area">
                        <code class="language-javascript">
                            {{'"build":{\r\t.\r\t.\r\t"styles":[\r\t\t"./node_modules/feed-beek/feed-style.css"\r\t],\r\t"scripts"[\r\t\t"./node_modules/feed-beek/feed-library.js"\r\t]\r\t.\r\t.\r'}}
                            {{'"test":{\r\t.\r\t.\r\t"styles":[\r\t\t"./node_modules/feed-beek/feed-style.css"\r\t],\r\t"scripts"[\r\t\t"./node_modules/feed-beek/feed-library.js"\r\t]'}}
                        </code>
                    </div>
                    Fa attenzione, ci sono due array contenenti i sottoarray "styles" e "scripts"; sono "build" e "test"
                    <br>
                    Ora, nel file typescript del componente nel quale intendi far apparire il pop-up, dovrai inserire la
                    funzione "startLibrary()" e dichiarare la funzione come segue: <br>
                    <span class="filename">example.component.ts</span>
                    <div class="code-area">
                        <code class="language-javascript">
                            {{"import { Component, OnInit, Inject } from '@angular/core';\r\t.\r\t.\r"}}
                            {{"declare function startLibrary(apiKey: string): any;\r\t.\r\t.\r@Component({\r\tselector:'app-example',\r\ttemplateUrl:'./example.component.html',\r\tstyleUrls:'./example.component.scss']\r})"}}
                            {{"\r\t.\r\t.\rngOnInit(){\r\tstartLibrary('fad569c0-7a3f-11ea-8006-f57e414b5be4')\r}"}}
                        </code>
                    </div>
                    Ecco fatto, ora i tuoi utenti potranno rispondere ai tuoi questionari.
                </div>
            </mat-card-content>
        </mat-card>
        <!-- TODO ADD INDEX HTML WITH DIV ID POP UP TAG -->