<div class="container-60">
  <div class="centered">
    <p class="title">Applicazioni </p>
    <div *ngIf="nApp == 0; else showList">
      <p>Non hai nessuna app!</p>
    </div>
    <ng-template #showList>
      <table class="regular-table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>ApiKey</th>
            <th>Azioni</th>
          </tr>
        </thead>
        <ng-template ngFor let-app [ngForOf]="appList" let-i="index">
          <tbody>
            <tr>
              <td>{{ app.appName }}</td>
              <td>{{ app.appType }}</td>
              <td style="font-size: 10px;">{{ app.appId }}</td>
              <td>
                <mat-icon title="Modifica" (click)="openApplicationDialog(app.appId)">edit</mat-icon>
                <mat-icon title="Elimina" (click)="deleteApp(app.appId)">delete</mat-icon>
                <mat-icon title="Questionari" (click)="goToPage('surveys',app.appId)">analytics</mat-icon>
              </td>
            </tr>
          </tbody>
        </ng-template>
      </table>
    </ng-template>
    <button mat-raised-button color="accent" (click)="openApplicationDialog()">Crea App</button>
  </div>
</div>
<div id="feed-pop-up" class="feed-pop-up"></div>