@import "~@angular/material/theming";

@include mat-core();

$FeedBeek-primary: mat-palette($mat-amber);
$FeedBeek-accent: mat-palette($mat-deep-orange, 900, A700, 800);
$FeedBeek-background: mat-palette($mat-grey, 300 , 50, 400);
$FeedBeek-text: mat-palette($mat-indigo,50);

$FeedBeek-warn: mat-palette($mat-red);

$FeedBeek-theme: mat-light-theme((
    color: (
    primary: $FeedBeek-primary,
    accent: $FeedBeek-accent,
    warn: $FeedBeek-warn,
    back: $FeedBeek-background,
  )
));

.main{
  background-color: mat-color($FeedBeek-background)
}

@include angular-material-theme($FeedBeek-theme);
