<div class="container-60">
    <div class="centered">
        <mat-card>
            <mat-card-title>
                Personalizza il tuo pop-up!
            </mat-card-title>
            <mat-card-subtitle>
                Proprietà pop-up
            </mat-card-subtitle>
            <!-- START POP-UP GENERAL PROPERTIES -->
            <mat-card-content>
                <mat-grid-list cols="2" rowHeight="60px">
                    <mat-grid-tile>
                        <mat-form-field>
                            <mat-label for="type">Tipo</mat-label>
                            <mat-select name="type" [(ngModel)]="ex_type">
                                <mat-option *ngFor="let survType of parent.survTypes" [value]="survType">
                                    {{ survType }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field>
                            <mat-label for="ex_borderRadius">Bordi tondi</mat-label>
                            <span matSuffix>px</span>
                            <input matInput type="number" min="0" max="100" name="ex_borderRadius" autocomplete="off"
                                [(ngModel)]="ex_borderRadius">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field>
                            <mat-label for="font">Font</mat-label>
                            <mat-select name="font" [(ngModel)]="ex_font">
                                <mat-option *ngFor="let font of fonts" [value]="font">
                                    {{ font }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field>
                            <mat-label for="ex_size">Dimensione testo</mat-label>
                            <span matSuffix>px</span>
                            <input matInput type="number" name="ex_size" autocomplete="off" [(ngModel)]="ex_size">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <app-color-picker [heading]="'Colore testo'" [color]="'FFFFFF'" (event)="ex_color = $event">
                        </app-color-picker>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <app-color-picker [heading]="'Colore bordo'" [color]="'FFFFFF'"
                            (event)="ex_borderColor = $event"></app-color-picker>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <app-color-picker [heading]="'Colore sfondo'" [color]="'FCB43A'"
                            (event)="ex_backColor = $event">
                        </app-color-picker>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <app-color-picker [heading]="'Colore bottone'" [color]="'992409'"
                            (event)="ex_buttonColor = $event">
                        </app-color-picker>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <app-color-picker [heading]="'Colore testo bottone'" [color]="'FFFFFF'"
                            (event)="ex_buttonTextColor = $event">
                        </app-color-picker>
                    </mat-grid-tile>
                </mat-grid-list>
                <!-- END POP-UP GENERAL PROPERTIES -->
                <!-- START OPEN ANSWERS -->
                <div *ngIf="ex_type == 'Risposta aperta'">
                    <mat-card-subtitle>
                        Proprietà risposta aperta
                    </mat-card-subtitle>
                    <mat-grid-list cols="2" rowHeight="60px">
                        <mat-grid-tile>
                            <app-color-picker [heading]="'Colore sfondo'" [color]="'FFFFFF'"
                                (event)="ex_inputBackColor = $event">
                            </app-color-picker>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <app-color-picker [heading]="'Colore testo'" [color]="'000000'"
                                (event)="ex_inputTextColor = $event">
                            </app-color-picker>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field>
                                <mat-label for="ex_inputBorderRadius">Bordi tondi</mat-label>
                                <span matSuffix>px</span>
                                <input matInput type="number" name="ex_inputBorderRadius" autocomplete="off"
                                    [(ngModel)]="ex_inputBorderRadius">
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
                <!-- END OPEN ANSWERS -->
                <!-- START GRADES -->
                <div *ngIf="ex_type == 'Voto'">
                    <mat-card-subtitle>
                        Proprietà voto
                    </mat-card-subtitle>
                    <mat-grid-list cols="2" rowHeight="60px">
                        <mat-grid-tile>
                            <app-color-picker [heading]="'Colore principale'" [color]="'992409'"
                                (event)="ex_gradeColor1 = $event">
                            </app-color-picker>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <app-color-picker [heading]="'Colore secondario'" [color]="'FFFFFF'"
                                (event)="ex_gradeColor2 = $event">
                            </app-color-picker>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
                <!-- END GRADES -->
                <!-- START MULTIPLE CHOISES -->
                <div *ngIf="ex_type == 'Crocette'">
                    <mat-card-subtitle>
                        Proprietà scelta multipla
                    </mat-card-subtitle>
                    <mat-grid-list cols="2" rowHeight="60px">
                        <mat-grid-tile>
                            <app-color-picker [heading]="'Colore principale'" [color]="'992409'"
                                (event)="ex_multChColor1 = $event">
                            </app-color-picker>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <app-color-picker [heading]="'Colore secondario'" [color]="'FFFFFF'"
                                (event)="ex_multChColor2 = $event">
                            </app-color-picker>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
                <!-- END MULTIPLE CHOISES -->
                <hr>
                <mat-card-subtitle>
                    Risultato
                </mat-card-subtitle>
                <div class="fake-pop-up" [ngStyle]="{
                'background-color': ex_backColor ? '#' + ex_backColor : '',
                'border': ex_borderColor ? 'solid 2px #' + ex_borderColor : '',
                'color': ex_color ? '#'+ex_color : 'white',
                'font-family': ex_font ? ex_font : 'Arial',
                'font-size': ex_size ? ex_size + 'px' : '10px',
                'border-radius': ex_borderRadius ? ex_borderRadius+'px': ''}">
                    <p class="fake-text">Cosa ne pensi di Feedbeek?</p>
                    <div class="fake-input" *ngIf="ex_type == 'Risposta aperta'">
                        <input type="text" class="input" [ngStyle]="{
                      'background-color': ex_inputBackColor ? '#'+ex_inputBackColor : 'white',
                      'border-radius': ex_inputBorderRadius ? ex_inputBorderRadius + 'px': '0px',
                      'color': '#'+ex_inputTextColor,
                      'border': ex_borderColor ? 'solid 1px #'+ex_borderColor : ''
                  }">
                    </div>
                    <div class="fake-checkbox" *ngIf="ex_type == 'Crocette'">
                        <div class="box"><label class="feed-checkbox-container">{{ ex_answers[0] }}
                                <input type="checkbox" [(ngModel)]="checked0"><span class="feed-checkbox-checkmark"
                                    [style.background-color]="(checked0) ? '#'+ex_multChColor1 : '#'+ex_multChColor2"></span></label>
                        </div>
                        <div class="box"><label class="feed-checkbox-container">{{ ex_answers[1] }}
                                <input type="checkbox" [(ngModel)]="checked1"><span class="feed-checkbox-checkmark"
                                    [style.background-color]="(checked1) ? '#'+ex_multChColor1 : '#'+ex_multChColor2"></span></label>
                        </div>
                        <div class="box"><label class="feed-checkbox-container">{{ ex_answers[2] }}
                                <input type="checkbox" [(ngModel)]="checked2"><span class="feed-checkbox-checkmark"
                                    [style.background-color]="(checked2) ? '#'+ex_multChColor1 : '#'+ex_multChColor2"></span></label>
                        </div>
                    </div>
                    <div class="fake-radio" *ngIf="ex_type == 'Voto'">
                        <ng-template ngFor let-grade [ngForOf]="ex_grades">
                            <div class="radio-box"><label class="feed-radio-container">{{grade}}<input name="feed-radio"
                                        [value]="grade" type="radio" [(ngModel)]="grades">
                                    <span class="feed-radio-checkmark"
                                        [style.background-color]="compare(grade) ? '#'+ex_gradeColor1 : '#'+ex_gradeColor2"></span></label>
                            </div>
                        </ng-template>
                    </div>
                    <div class="footer">
                        <button class="button"
                            [ngStyle]="{'background-color': '#' + ex_buttonColor,'color':'#'+ex_buttonTextColor}">Invia</button>
                    </div>
                </div>
                <hr>
                <mat-card-subtitle>
                    Salva il tuo stile!
                </mat-card-subtitle>
                <p style="text-align: left;">
                    Scegli l'applicazione da associare con lo stile appena creato e clicca su "Salva stile". <br>
                </p>
                <mat-grid-list cols="2" rowHeight="60px">
                    <mat-grid-tile>
                        <mat-form-field>
                            <mat-label for="app">Applicazione</mat-label>
                            <mat-select name="app" [(ngModel)]="selectedApp">
                                <mat-option *ngFor="let app of appList" [value]="app">
                                    {{ app.appName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-raised-button color="accent" (click)="sendStyle()">Salva stile</button>
                    </mat-grid-tile>
                </mat-grid-list>
                <p style="text-align: left;">
                    I pop-up verranno automaticamente impostati con le tue scelte: <br>
                    Ci pensiamo noi allo stile!
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>