@import "../../app.component.scss";

.centered{
    display: inline-block;
}

.fake-text{
    text-align: center;
    padding:10px 20px;
  }
  .input{
    height: 20px;
    width: 60%;
    margin: auto;
    border: none;
    &:focus{
      outline: none;
    }
  } 
  .fake-input{
    height: 45px;
  }
  .fake-pop-up{
    width: 400px;
    margin: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
  }
  .fake-checkbox{
    width: 70%;
    height: 115px;
    margin: auto;
  }
  .fake-radio{
    height: 55px;
    margin: auto;
    padding-bottom: 5px;
  }
  
  /* Multiple answer */
  
  .box{
    padding: 5px 5px 5px 5px;
    margin: auto;
  }
  
  .feed-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .feed-checkbox-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  .feed-checkbox-container input:checked ~ .feed-checkbox-checkmark {
    background-color: #23212C;
  }
  
  .feed-checkbox-container:hover input ~ .feed-checkbox-checkmark {
    transition: 1s;
  }
  
  .feed-checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .feed-checkbox-container input:checked ~ .feed-checkbox-checkmark:after {
    display: block;
    transition: 1s;
  }
  
  .feed-checkbox-container .feed-checkbox-checkmark:after {
    left: 7px;
    top: 0px;
    width: 8px;
    height: 15px;
    transition: 1s;
    border: solid #eee;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .feed-checkbox-container {
    text-align: center;
    font-size: 16px;
    height: 10px;
    width: 100%;
    display: block;
    position: relative;
    padding-left: 10%;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* End Multiple answer */
  
  /* Grade */
  
  .radio-box{
    display: inline-block;
    height: 20px;
    width: 40px;
  }
  
  .feed-radio-container {
    display: inline-block;
    position: relative;
    padding-top: 5px;
    width: 20px;
    padding-left: 20px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .feed-radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .feed-radio-checkmark {
    position: absolute;
    top: 3px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .feed-radio-container:hover input ~ .feed-radio-checkmark {
    background-color: #ccc;
  }
  
  .feed-radio-container input:checked ~ .feed-radio-checkmark {
    background-color: #23212C;
  }
  
  .feed-radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .feed-radio-container input:checked ~ .feed-radio-checkmark:after {
    display: block;
  }
  
  .feed-radio-container .feed-radio-checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
  
  /* End grade */
  
  .button{
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #992409;
    border: none;
    transition: all 0.3s ease 0s;
    color: #F2F2F2;
    &:focus{
      outline: none;
    }
  }
