<div class="dialog">
    <h1 mat-dialog-title>Conferma eliminazione</h1>
    <mat-dialog-content class="mat-typography">
        <p>L'eliminazione sarà permanente <br> Sicuro di voler procedere?</p>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-raised-button color="accent" [mat-dialog-close]="true" cdkFocusInitial>Conferma</button>
        <button mat-stroked-button color="accent" mat-dialog-close>Annulla</button>
    </mat-dialog-actions>
</div>