<div class="container-60">
    <div class="centered">
        <!-- SURVEY'S CHART CARD -->
        <mat-card *ngIf="chart == true; else notChart">
            <mat-card-title>
                Questionario: {{ survey.text1 }}
            </mat-card-title>
            <div *ngIf="(answ == false); else checkType" style="text-align: center;">
                <mat-card-content>
                    <p>Questo questionario non ha ricevuto ancora nessuna risposta</p>
                </mat-card-content>
                <mat-card-footer>
                    <button mat-raised-button color="accent" (click)="goToPage('surveys')"
                        type="reset">Indietro</button>
                </mat-card-footer>
            </div>
            <ng-template #checkType>
                <div class="viewport-container" *ngIf="survey.type == 'Risposta aperta'; else chart">
                    <mat-card-content>
                        <cdk-virtual-scroll-viewport class="viewport" itemSize="survey.answers.length">
                            <dl class="dl">
                                <ng-container *cdkVirtualFor="let element of survey.answers">
                                    <dt class="dt">{{element.answer}}</dt>
                                    <dd class="dd">({{element.date}})</dd>
                                </ng-container>
                            </dl>
                        </cdk-virtual-scroll-viewport>
                    </mat-card-content>
                    <mat-card-footer>
                        <button mat-stroked-button color="accent" (click)="goToPage('surveys')"> Indietro </button>
                    </mat-card-footer>
                </div>
                <ng-template #chart>
                    <mat-card-content>
                        <div style='width:"800"; height:"900"'>
                            <canvas id="canvas"></canvas>
                        </div>
                    </mat-card-content>
                    <mat-card-footer>
                        <button mat-stroked-button color="accent" (click)="goToPage('surveys')"> Indietro </button>
                    </mat-card-footer>
                </ng-template>
            </ng-template>
        </mat-card>
        <!-- CREATE EDIT SURVEY CARD -->
        <ng-template #notChart>
            <mat-card>
                <mat-card-title *ngIf="creating == true; else editing">
                    Crea Questionario
                </mat-card-title>
                <ng-template #editing>
                    <mat-card-title>
                        Modifica Questionario
                    </mat-card-title>
                </ng-template>
                <form [formGroup]="createForm" (ngSubmit)="submit()">
                    <mat-card-content class="mat-card-content">
                        <mat-form-field>
                            <mat-label for="title">Titolo</mat-label>
                            <input matInput type="text" name="title" autocomplete="off" formControlName="title"
                                required>
                            <mat-error>Questo campo è necessario</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label for="text1">Domanda</mat-label>
                            <input matInput type="text" name="text1" autocomplete="off" formControlName="text1"
                                required>
                            <mat-error>Questo campo è necessario</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label for="type">Tipo</mat-label>
                            <mat-select name="type" [disabled]="creating==false" formControlName="type">
                                <mat-option *ngFor="let survType of parent.survTypes" [value]="survType">
                                    {{ survType }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div *ngIf="this.createForm.value.type=='Crocette' && creating==true">
                            <ng-template ngFor let-opt [ngForOf]="options" let-i="index">
                                <mat-form-field>
                                    <mat-label>Opzione {{ i+1 }}</mat-label>
                                    <input matInput type="text" name="{{i}}" autocomplete="off" formControlName="{{i}}"
                                        [required]="i == 0">
                                    <mat-error>Almeno un'opzione è necessario</mat-error>
                                </mat-form-field>
                            </ng-template>
                            <mat-icon title="Aggiungi opzione" *ngIf="optNum != 4" (click)="addOpt()">add</mat-icon>
                            <mat-icon title="Rimuovi opzione" *ngIf="optNum != 0" (click)="removeOpt()">clear</mat-icon>
                        </div>
                    </mat-card-content>
                    <mat-card-footer>
                        <button mat-raised-button color="accent" type="submit">Salva</button>
                        <button mat-stroked-button color="accent" (click)="goToPage('surveys')"
                            type="reset">Annulla</button>
                    </mat-card-footer>
                </form>
            </mat-card>
        </ng-template>
    </div>
</div>