@import "../../../app.component.scss";

.viewport-container{
    margin: auto;
    text-align: center;
}

.viewport{
    height: 100%;
    width: 100%;
    min-height: 150px;
    .dl{
        word-wrap: break-word;
    }
}

dd{
    margin-inline-start:0px !important;
}