<div class="container-60">
    <div class="centered">
        <!-- LOGIN CARD -->
        <mat-card *ngIf="login == true; else signUp">
            <mat-card-title>
                Accedi
            </mat-card-title>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-card-content class="mat-card-content">
                    <mat-form-field>
                        <mat-label for="email">E-mail</mat-label>
                        <input matInput type="text" name="email" autocomplete="off" formControlName="email" required>
                        <mat-error>Questo campo è necessario</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label for="password">Password</mat-label>
                        <input matInput type="password" name="password" autocomplete="off" formControlName="password"
                            required>
                        <mat-error>Questo campo è necessario</mat-error>
                    </mat-form-field>
                </mat-card-content>
                <mat-card-footer class="mat-card-footer">
                    <button mat-raised-button color="accent" type="submit">Accedi</button>
                    <button mat-stroked-button color="accent" (click)="goToPage('homepage')">Annulla</button> <br>
                    <a class="link" (click)="openResetPwdDialog()"> Hai dimenticato la password? </a>
                </mat-card-footer>
            </form>
        </mat-card>
        <!-- END LOGIN -->

        <!-- SIGNUP CARD -->
        <ng-template #signUp>
            <mat-card>
                <mat-card-title>
                    Registrati
                </mat-card-title>
                <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                    <mat-card-content>
                        <mat-form-field>
                            <mat-label for="name">Nome</mat-label>
                            <input matInput type="text" name="name" autocomplete="off" formControlName="name" required>
                            <mat-error>Questo campo è necessario</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label for="surname">Cognome</mat-label>
                            <input matInput type="text" name="surname" autocomplete="off" formControlName="surname"
                                required>
                            <mat-error>Questo campo è necessario</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label for="email">E-mail</mat-label>
                            <input matInput type="email" name="email" autocomplete="off" formControlName="email"
                                required>
                            <mat-error>Questo campo è necessario</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label for="password">Password</mat-label>
                            <input matInput type="password" name="password" autocomplete="off"
                                formControlName="password" [(ngModel)]="pwd1" required>
                            <mat-error>Questo campo è necessario</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label for="password2">Conferma password</mat-label>
                            <input matInput type="password" name="password2" autocomplete="off"
                                formControlName="password2" [(ngModel)]="pwd2" required>
                            <mat-error>Questo campo è necessario</mat-error>
                            <mat-error *ngIf="pwd1 != pwd2">Le due password non corrispondono</mat-error>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-footer class="mat-card-footer">
                        <button mat-raised-button color="accent" type="submit">Registrati</button>
                        <button mat-stroked-button color="accent" (click)="goToPage('homepage')">Annulla</button>
                    </mat-card-footer>
                </form>
            </mat-card>
        </ng-template>
        <!-- END SIGNUP -->
    </div>
</div>