@import '~@angular/material/theming';
@import '../../theme.scss';

// Colors
$slightWhite: #F2F2F2;
$ThirdColor: #23212C;

//Button
button{
    &:focus{
        outline: none;
    }
}

// HR
hr{
    border: solid 0.1px #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

// Containers
.container-60{
    position: relative;
    padding:15px 5px 15px 5px;
    width: 60%;
    margin-left: 20%;
    display: flex;
    text-align: center;
    .centered{
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        min-width: 350px;
    }
}

//Card
.mat-card{
    min-width: 450px;
    max-width: 720px;
    .mat-card-subtitle{
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
.mat-card-content{
    width: 90%;
    margin: auto;
    mat-form-field{
        display: block;
    }
}
.mat-card-footer{
    //Force mat-card to respect padding
    margin-bottom: 0px !important;
    button{
        margin:5px;
    }
}

//Dialog
.dialog{
    text-align: center;
}

//Snackbar
::ng-deep .snackbar-success{
    font-weight: 700;
    color: white;
    background-color: green;
    text-align: center;
    .mat-simple-snackbar-action{
        color: white;
    }
}
::ng-deep .snackbar-failure{
    color: white;
    font-weight: 700;
    background-color: red;
    text-align: center;
    .mat-simple-snackbar-action{
        color: white;
    }
}

// Spinner
.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    p{
        text-align: center;
        font-size: 16px;
        color: mat-color($FeedBeek-primary);
        margin-top: 20px;
    }
}

//Navbar
.header{
    color:white;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
    background-color: $ThirdColor;
    top: 0;
    min-height: 20px;
    max-height: 40px;
    z-index: 2;
    p{
        margin-top: 0;
        margin-bottom: 0;
    }
}
.logo{
    cursor: pointer;
}

.nav-links{
    list-style: none;
    li{
        display: inline-block;
        padding: 0px 10px;
        p{
            cursor: pointer;
            text-decoration:none;
            font-size:16px;
            color:$slightWhite;
            transition: all 0.3s ease 0s;
        &:hover{
                color:mat-color($FeedBeek-primary);
            }
        }
    }
}

.nav{
    display:flex;
    flex-wrap:wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    p{
        color: white;
        margin-right: 5px;
        margin-top: 8px;
    }
}


.navbar{
    position: fixed;
    width: 100%;
    background-color: $ThirdColor;
    color: $ThirdColor;
}

// Table
.regular-table{
    padding: 25% 25%;
    margin:0 auto;
    border-collapse: collapse;
    margin:25px 0;
    font-size: 15px;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    th{
        color: white;
        font-size: 16px;
        padding: 12px 15px;
    }
    td{padding: 12px 15px;}
    thead tr{
        background-color: mat-color($FeedBeek-primary);
        text-align: left;
        font-size: 20px;    
    }
    tbody tr{
        color: $ThirdColor;
        text-align: left;
        background-color: white;
        border-bottom: 1px solid mat-color($FeedBeek-primary);
        &:hover{
            background-color: rgba(white,0.5);
            transition: all 0.3s ease 0s;
        }
    }
}

//Text
.title{
    color:mat-color($FeedBeek-primary);
    font-size: 40px;
}

//Icons
.mat-icon{
    font-size: 20px;
    transition: transform .3s;
    cursor: pointer;
    &:hover{
        transform: scale(1.2);
    }
}

// Custom scrollbar 
::-webkit-scrollbar {
    height: 10px;
    width: 10px;   
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #e0e0e0; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #bbbaba; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bbbaba; 
}

// HighLighted code
.code-area{
    border: solid 0.5px;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    color: white;
    background-color: #272822;
    margin-bottom: 10px;
}

// Redefined to fix the color-picker
.mat-grid-tile{
    overflow: inherit !important;
}