<div class="spinner" *ngIf="showSpinner==true; else showPage">
    <mat-spinner></mat-spinner>
    <p>Caricamento...</p>
</div>

<ng-template #showPage>
    <header class="header">
        <div>Logo</div>
        <nav>
            <ul class="nav-links">
                <ng-container *ngIf="isLogged">
                    <li>
                        <p (click)="goToPage('applications')">Applicazioni</p>
                    </li>
                    <li>
                        <p (click)="goToPage('guide')">Guida</p>
                    </li>
                    <li>
                        <p (click)="goToPage('demo')">Demo</p>
                    </li>
                </ng-container>

            </ul>
        </nav>
        <div class="nav">
            <ng-container *ngIf="isLogged; else Login">
                <p>{{ this.userMail }}</p>
                <button mat-raised-button color="accent" (click)="logOut()">Esci</button>
            </ng-container>
            <ng-template #Login>
                <button mat-raised-button color="accent" (click)="logIn('login',true)">Accedi</button> &nbsp;&nbsp;
                <button mat-raised-button color="accent" (click)="logIn('login',false)">Registrati</button>
            </ng-template>
        </div>
    </header>
    <router-outlet></router-outlet>
</ng-template>