<div class="dialog">
    <div *ngIf="creating == true; else editing">
        <h1 mat-dialog-title>Crea applicazione</h1>
    </div>
    <ng-template #editing>
        <h1 mat-dialog-title>Modifica applicazione</h1>
    </ng-template>
    <mat-dialog-content class="mat-typography">
        <mat-form-field>
            <mat-label for="name">Nome</mat-label>
            <input matInput type="text" name="name" autocomplete="off" [(ngModel)]="app.appName" required
                pattern="[A-Za-z0-9]{3,50}">
            <mat-hint>Dai 3 ai 50 caratteri alfanumerici</mat-hint>
            <mat-error>Questo campo è necessario</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label for="type">Tipo</mat-label>
            <input matInput type="text" name="type" autocomplete="off" [(ngModel)]="app.appType" required
                pattern="[A-Za-z0-9]{3,50}">
            <mat-hint>Dai 3 ai 50 caratteri alfanumerici</mat-hint>
            <mat-error>Questo campo è necessario</mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-raised-button color="accent" (click)="save()">Salva</button>
        <button mat-stroked-button color="accent" mat-dialog-close>Annulla</button>
    </mat-dialog-actions>
</div>