<!-- <div class="centered">
    <h1 mat-dialog-title>Reset della password</h1>
    <div class="dialog">
        <div *ngIf="step1==true">
            <mat-dialog-content class="mat-typography">
                <p>Inserisci la e-mail collegata al tuo account</p>
                <mat-form-field>
                    <mat-label for="email">E-mail</mat-label>
                    <input matInput type="text" name="email" autocomplete="off" [(ngModel)]="email" required>
                    <mat-error>Questo campo è necessario</mat-error>
                </mat-form-field>
            </mat-dialog-content>
            <mat-dialog-actions align="center">
                <button mat-raised-button color="accent" (click)="sendResetCode()">Prossimo</button>
                <button mat-stroked-button color="accent" mat-dialog-close>Chiudi</button>
            </mat-dialog-actions>
        </div>
    </div>
    <div *ngIf="step2==true">
        
    </div>
</div> -->

<div style="text-align: center;">
    <mat-dialog-content class="mat-typography content">
        <mat-horizontal-stepper linear #stepper>
            <mat-step label="Inserisci la tua email">
                <mat-dialog-content class="mat-typography">
                    <mat-form-field>
                        <mat-label for="email">E-mail</mat-label>
                        <input matInput type="text" name="email" autocomplete="off" [(ngModel)]="email" required>
                        <mat-error>Questo campo è necessario</mat-error>
                    </mat-form-field>
                </mat-dialog-content>
                <mat-dialog-actions align="center">
                    <button mat-raised-button color="accent" (click)="sendResetCode(stepper)">Prossimo</button>
                    <button mat-stroked-button color="accent" mat-dialog-close>Chiudi</button>
                </mat-dialog-actions>
            </mat-step>
            <mat-step label="Crea la nuova password">
                <mat-form-field>
                    <mat-label for="code">Codice</mat-label>
                    <input matInput type="text" name="code" autocomplete="off" [(ngModel)]="verCode" required>
                    <mat-error>Questo campo è necessario</mat-error>
                </mat-form-field><br>
                <mat-form-field>
                    <mat-label for="pwd1">Nuova Password</mat-label>
                    <input matInput type="password" name="pwd1" autocomplete="off" [(ngModel)]="pwd1" required>
                    <mat-hint> Almeno 8 caratteri di cui almeno: <br> 1 maiuscola,1 numero,1 speciale</mat-hint>
                    <mat-error>Questo campo è necessario</mat-error>
                </mat-form-field><br> <br>
                <mat-form-field>
                    <mat-label for="pwd2">Conferma Password</mat-label>
                    <input matInput type="password" name="pwd2" autocomplete="off" [(ngModel)]="pwd2" required>
                    <mat-error>Questo campo è necessario</mat-error>
                </mat-form-field>
                <mat-dialog-actions align="center">
                    <button mat-raised-button color="accent" (click)="verifyCode()">Conferma</button>
                    <button mat-stroked-button color="accent" mat-dialog-close>Annulla</button>
                </mat-dialog-actions>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-dialog-content>
</div>